body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

.food-img {
    display:block;
    margin: 10px auto auto;
}

h2 {
    background-color: green;
    color:white;
    text-align: center;
}


.back {
    margin:0 auto;
}

div p {
    text-align: center;
    margin:0 auto;
}

p {
    padding: 5px;
}